.ecke {
    position: fixed;
}
body {
    /* background-image: url('banner.avif'); */
    background-image: url('img/casino-hintergrund-mit-vier-ass-spielkarten_1017-23674.avif');
    background-size: 100%;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

h3, h3 {
    text-decoration: underline;
}

.p2 {
    font-size: 35px;
    color: rgb(245, 205, 104);
}
/* img {
    height: 120px;
    width: auto;
    position: inherit;
} */
button {
    shape-outside: 5px;
    background-image: url('img/buttons.png');
    background-size: 100%;
    background-position: center;
    color: rgb(0, 0, 0);
    border:1px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    width: 120px;
        height: 80px;
        background-color: rgb(250, 4, 4);
        text-align: center;
        text-shadow: #0f100f;
        border-radius: 5px;
        font: Arial bold;
        font-weight: 700;
}

button:hover {
    background-image:url('img/arrow.png');
    background-size: cover;
}
button:hover:disabled {
    background-image: url('img/kreuz2.jpg');
    background-size: 90%;

  }
.game-area {
    display: grid;
    /* background-color: rgb(237, 73, 73);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3); */
    padding: 30px;
    border-radius: 10px;
    width: 600px;
    height: 240px;
    margin: 0 auto;
}
#game-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 10px;
  }
  
  #user-area {
    justify-self: start;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
  }
  #user-bild {
  grid-row: 1 / span 3;
  height: 120px;
  width: auto;
  position: inherit;

  }
  #user-cards {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #f66d0c;
}
  #user-points {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .message-area {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    justify-self: center;
  }
  .message{
    text-align: center;
    color:rgb(90, 13, 13)
  }
  
   #computer-area {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    justify-self: end;
  }
   #computer-bild {
  grid-row: 1 / span 3;
  height: 120px;
  width: auto;
  position: inherit;
  }
   #computer-cards{
    margin-top: 25px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    color: #f66d0c;
  } 
   #computer-points{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 50px;
} 


#button-area {
  text-align: center;
  font-size: 50px;
  font-style: italic;
  margin:10px;
}

#ergebnisse {
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    padding-top: 10px;
    opacity: 80%;
    display: grid;
    background-color: rgb(241, 189, 144);
    gap: 25px; /* Hier kannst du den gewünschten Abstand zwischen den Spielen festlegen */
} 

.spielverlauf {
    flex-basis: 50%; /* Setze die Breite der Spiele auf 50% */
    box-sizing: border-box; /* Berücksichtige die Innenabstände in der Breite */
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 15px;
    color: black;
    margin-top: 30px;
    margin-left: 80px;
  }

.schattenmitfarbverlauf {

    width: 740px; /* relativ ist auch möglich mit z.B. 60% */
    height: 270px;
    margin: 50px auto;
    background: linear-gradient(0deg, #320203, #f66d0c);
    background-color: hsla(0, 0%, 0%, 0.7);
    position: relative;
}

.schattenmitfarbverlauf:before,
.schattenmitfarbverlauf:after {
    content: "";
    position: absolute;
    background: linear-gradient(45deg, rgb(234, 5, 28), rgb(90, 23, 5), rgb(177, 11, 80), 
       rgb(207, 24, 39), rgb(231, 21, 224), rgb(234, 98, 7), rgb(253, 3, 3));
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);  
    top: -2px;
    left: -2px;
    background-size: 500%;
    animation: wandernderFarbverlauf 45s linear infinite;
}

.schattenmitfarbverlauf:after {
    filter: blur(25px);
}

@keyframes wandernderFarbverlauf {
    0%   { background-position: 0 0 }
    50%  { background-position: 600% 0 }
    100% { background-position: 0 0 }
}
